$green: #179D5E;
$red: #D10023;



* {
  box-sizing: border-box;
}

html {
  font-family: 'Zilla Slab', 'Raleway', 'Roboto', sans-serif;
  padding: 0;
}
body {
  background: #dbdbdb !important;
}

.container {
  margin: 100px auto;
  color: #fff;

  &__information {
    background: rgba(0,0,0,0.6);
    margin-bottom: 4rem;
    border-radius: 15px;
  }

  .chart {
    position: relative;
    width: 140px;
    height: 140px;
    margin: .5rem auto;
    padding: 3rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgba(0,0,0,0.6);
    border-radius: 50%;
  }
  .text-upper {
    text-transform: uppercase;
  }
}


canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  //background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}